* {
    margin: 0;
    padding: 0;
}

.yellowBlock {
    z-index: 0;
    background: var(--coloBlock);
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -30%;
}

.container {
    animation: animationMain 1.2s ease;
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 90vh;
    width: 90%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    margin-right: 6%;
    text-align: left;
    justify-content: center;
    width: 60%;
}

.textContainer h2 {
    font-size: 50px;
    line-height: 62px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--colorH1);
}

.textContainer span {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--textColor);
}

.textContainer p {
    font-size: 20px;
    color: var(--textColor);
}

.mainPhotoWrapper {
    position: relative;
    width: 33.33333333%;
}

.mainPhoto {
    background-image: url('myPortrait.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100%;
    z-index: 11;
    border-radius: 30px;
    box-shadow: 0 0 7px rgb(0 0 0 / 90%);
}

.mainBtn {
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    height: 50px;
    width: 210px;
    border-radius: 28px;
    border: 2px solid var(--colorH1);
    font-size: 20px;
    cursor: pointer;
}

.mainBtnIcon {
    z-index: 5;
    display: flex;
    height: 30px;
}

.mainBtnTitle {
    z-index: 5;
    display: flex;
    color: var(--textColor);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px
}

.mainBtnCircle {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: var(--colorH1);
}

.mainBtn:hover > .mainBtnTitle {
    color: #ffffff;
    /*filter: invert(1);*/
}

.mainBtn:hover::before {
    transform: translateX(0);
}

.mainBtn::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 110%;
    height: 110%;
    background-color: var(--colorH1);
    border-radius: 26px;
    transform: translateX(100%);
    transition: transform 500ms ease;
}

.grayCurtain {
    animation: animationCurtain 1s ease forwards;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--curtainColor);
}

@keyframes animationMain {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animationCurtain {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@media (max-width: 992px) {
    .yellowBlock {
        opacity: 0;
    }

    .container {
        height: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column;
        justify-content: center;
    }

    .mainPhotoWrapper {
        position: relative;
        width: 270px;
        height: 270px;
        margin: 0 auto;
    }

    .mainPhoto {
        display: block;
        position: absolute;
        margin: 0 auto 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

    .mainPhotoBG {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(180deg, rgba(0, 144, 255, 1) 50%, rgba(255, 216, 0, 1) 50%);
        border-radius: 50%;
        width: 103%;
        height: 103%;
    }

    .textContainer {
        text-align: center;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }

    .textContainer h2 {
        font-size: 38px;
        margin: 29px 0 13px;
    }

    .textContainer span {
        font-size: 29px;
        margin-bottom: 13px;
    }

    .textContainer p {
        margin-bottom: 23px;
        font-size: 15px;
        line-height: 30px;
    }

    .mainBtn {
        display: flex;
        margin-top: 0;
        position: relative;
        height: 50px;
        width: 210px;
        border-radius: 26px;
        border: 2px solid var(--colorH1);
        font-size: 20px;
        cursor: pointer;
    }

    .btnWrapper {
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .mainPhotoWrapper {
        width: 230px;
        height: 230px;
    }

    .textContainer h2 {
        font-size: 29px;
        line-height: 39px;
        margin-bottom: 13px;
    }

    .textContainer span {
        font-size: 25px;
        margin-bottom: 13px;
    }

    .textContainer p {
        font-size: 14px;
        margin-bottom: 18px;
    }
}




