.main {
    display: flex;

    /*height: 100vh;*/
    /*justify-content: space-between;*/
}

.yellowBlock {
    z-index: 0;
    background-color: #ffb400;
    position: fixed;
    height: 200%;
    width: 100%;
    transform: rotate(-15deg);
    left: -83%;
    top: -50%;
}

.container{
    animation: animationMain 500ms ease;
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 100%;
    width: 90%;
    /*flex-wrap: wrap;*/
}

.textContainer {
    margin-top: 100px;
    margin-left: 100px;
    text-align: left;
    /*justify-content: center;*/
    /*background-color: #38c7dc;*/
    width: 100%;
    /*height: 500px;*/
    color: white;
}

.textContainer h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--colorH1);
}

.textContainer span {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;

}

.textContainer p {
    font-size: 20px;
}

/*.textContainer button {*/
/*    margin-top: 50px;*/
/*    height: 50px;*/
/*    width: 200px;*/
/*    color: #ffb400;*/
/*    border-radius: 25px;*/
/*    background-color: black;*/
/*    border: #ffb400 1px solid;*/
/*    font-size: 20px;*/
/*}*/



.mainPhoto {
    height: calc(100vh - 160px);
    align-content: center;
    border-radius: 30px;
    box-shadow: 0 0 7px rgb(0 0 0 / 90%);
}

.mainBtn {
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    height: 50px;
    width: 210px;
    border-radius: 26px;
    /*background-color: black;*/
    border: #ffb400 1px solid;
    font-size: 20px;
    cursor: pointer;

}

.mainBtnIcon{
    /*position: relative;*/
    /*z-index: 2;*/
    z-index: 5;
    display: flex;
    height: 30px;

}

.mainBtnTitle {
    z-index: 5;
    display: flex;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px
    /*border-radius: 50px;*/
    /*border: #ffb400 1px solid;*/
}

.mainBtnCircle {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: #ffb400;
}

.mainBtn:hover::before {
    transform: translateX(0);
}
.mainBtn::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 110%;
    height: 110%;
    background-color: #ffb400;
    border-radius: 26px;
    transform: translateX(100%);
    transition: transform 500ms ease;
}

@keyframes animationMain {
    0% {
        transform: translateY(200px);
    }
    100% {
        transform: translateY(0);
    }
}


.grayCurtain {
    animation: animationCurtain 500ms ease forwards;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: gray;
}

@keyframes animationCurtain {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}




