* {
    margin: 0;
    padding: 0;
}

.aboutContainer {
    width: 100%;
    height: 100%;
}

.aboutWrapper {
    animation: animationMain 1.2s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    /*background-color: #ef7f0e;*/
}

header {
    display: flex;
    position: relative;
    padding: 80px 0;
    width: 90%;
    margin: 0 auto;
    color: white;
    justify-content: center;
}

h1 {
    font-size: 60px;
    font-weight: 900;
}

h1 span {
    position: relative;
    z-index: 1;
    color: var(--colorH1);
}

.titleBG {
    font-size: 110px;
    letter-spacing: 10px;
    line-height: .7;
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    font-weight: 900;
    transform: translateY(-50%);
    color: hsla(0,0%,100%,.15);
}



.personalInfos {
    display: flex;
    /*margin: 0 auto;*/
    justify-content: space-between;
    /*height: 100vh;*/
    width: 100%;
    background-color: #797eaf;
}

.personalInfosLeft {
    display: flex;
    flex-direction: column;
    /*margin: 0 auto;*/
    justify-content: space-between;
    /*height: 100vh;*/
    width: 40%;
    background-color: #85d766;
}

.personalInfosRight {
    display: flex;
    flex-direction: column;
    /*margin: 0 auto;*/
    justify-content: space-between;
    /*height: 100vh;*/
    width: 40%;
    background-color: #830fe3;
}

.personalInfosRight {
    /*display: flex;*/
    /*margin: 0 auto;*/
    /*justify-content: space-between;*/
    /*height: 100vh;*/
    /*word-wrap: normal;*/
    width: 300px;
    background-color: #1532ee;
}


.mainBtn {
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    height: 50px;
    width: 210px;
    border-radius: 26px;
    /*background-color: black;*/
    border: #ffb400 1px solid;
    font-size: 20px;
    cursor: pointer;

}

.mainBtnIcon {
    /*position: relative;*/
    /*z-index: 2;*/
    z-index: 5;
    display: flex;
    height: 30px;

}

.mainBtnTitle {
    z-index: 5;
    display: flex;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px
    /*border-radius: 50px;*/
    /*border: #ffb400 1px solid;*/
}

.mainBtnCircle {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: #ffb400;
}

.mainBtn:hover::before {
    transform: translateX(0);
}

.mainBtn::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 110%;
    height: 110%;
    background-color: #ffb400;
    border-radius: 26px;
    transform: translateX(100%);
    transition: transform 500ms ease;
}

@keyframes animationMain {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 992px) {
    .aboutContainer {
        flex-direction: column;
        margin: 0 auto;
        height: 100%;
        width: 70%;
    }

    header {
        padding: 10px 0;
    }

    h1 {
        font-size: 40px;
        font-weight: 900;
    }

    h1::before {
       opacity: 0;
    }
}

