.contactContainer {
    width: 100%;
    height: 100%;
}

.contactWrapper {
    animation: animationMain 1.2s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    /*background-color: #ef7f0e;*/
}

header {
    display: flex;
    position: relative;
    padding: 80px 0;
    width: 90%;
    margin: 0 auto;
    color: var(--textColor);
    justify-content: center;
}

h1 {
    position: relative;
    z-index: 1;
    font-size: 60px;
    font-weight: 900;
}

h1 span {
    position: relative;
    z-index: 1;
    color: var(--colorH1);
}

.titleBG {
    font-size: 110px;
    letter-spacing: 10px;
    line-height: .7;
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    font-weight: 900;
    transform: translateY(-50%);
    color: var(--titleBGColor);
}

@keyframes animationMain {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 576px) {
    .titleBG {
        display: none;
    }

    .contactContainer {
        width: 100%;
        /*height: 100%;*/
        /*background-color: #0eefdc;*/
    }

    .contactWrapper {
        width: 90%;
        /*background-color: #ef7f0e;*/
    }

    header {
        width: 100%;
        padding: 80px 0;
        justify-content: left;
    }

    header h1 {
        font-size: 35px;
        font-weight: 900;
    }
}
