.App {
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
}

.themeDark {
    --bg: black;
    --colorH1: #ffb400;
    --coloBlock: linear-gradient(180deg, rgb(0,87,184) 50%, rgb(255,215,0) 50%);
}

.themeWhite {
    --bg: white;
    --colorH1: #43ea0b;
    --coloBlock: #43ea0b
}




