.navContainer {
    position: fixed;
    right: 0;
    bottom: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.navListItem {
    width: 50px;
    height: 50px;
    margin: 20px 0;
    cursor: pointer;
}

.navListItemActive > .navIconWrapper {
    background-color: var(--colorH1);
    filter: invert(0);
}

.navListItemActive > .navIconWrapper > .navListItemIcon {
    background-color: var(--colorH1);
    filter: invert(0);
}

.navListItemIcon {
    position: relative;
    z-index: 2;
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
    filter: var(--filterIconColor)
}

.navListItemTitle {
    position: absolute;
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    color: white;
    height: 50px;
    background-color: var(--colorH1);
    padding-left: 10px;
    opacity: 0;
    transition: padding-right 100ms ease, right 100ms ease, opacity 100ms ease;
    box-sizing: border-box;
    right: 0;
}

.navIconWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--buttonBG);
    border-radius: 50%;
    transition: background-color 100ms ease;
}

.navListItem:hover .navIconWrapper {
    background-color: var(--colorH1);
}

.navListItem:hover .navListItemIcon {
    filter: invert(0);;
}

.navListItem:hover .navListItemTitle {
    opacity: 1;
    padding-right: 55px;
    right: -5px;
}


@media (max-width: 992px) {
    .navContainer {
        z-index: 10001;
        flex-direction: row;
        background-color: var(--navbarBG);
        margin-right: 0;
        position: fixed;
        bottom: 0;
        height: 60px;
        width: 100%;
        justify-content: space-around;
    }

    .navContainer ul {
        display: flex;
    }

    .navListItem:hover .navListItemTitle {
        opacity: 0;
    }
}

