@media screen {
    
}


.navContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

/*.navList {*/
/*    padding: 0;*/
/*}*/

.navListItem {
    /*opacity: 1;*/
    width: 50px;
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    margin: 20px 0;
    border-radius: 25px;
    background: #2b2a2a;
    cursor: pointer;
}

.navListItemActive > .navIconWrapper{
    background-color: #ffb400;
}

.navListItemIcon {
    position: relative;
    z-index: 2;
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.navListItemTitle {
    position: absolute;
    display: flex;
    border-radius: 25px;
    align-items: center;
   justify-content: center;
    margin-right: 50px;
    color: white;
    height: 50px;
    background-color: #ffb400;
    padding-left: 10px;
    opacity: 0;
    transition: padding-right 100ms ease, right 100ms ease, opacity 100ms ease;
    box-sizing: border-box;
    right: 0;
}

.navIconWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #2b2a2a;
    border-radius: 50%;
    transition: background-color 100ms ease;
}

.navListItem:hover .navIconWrapper {
    background-color: #ffb400;
}

.navListItem:hover .navListItemTitle {
    opacity: 1;
    padding-right: 55px;
    right: -5px;
}


@media (max-width: 992px) {
    .navContainer {
        z-index: 10001;
        display: flex;
        flex-direction: row;
        background-color: #424242;
        align-items: center;
        margin-right: 0;
        position: fixed;
        bottom: 0;
        height: 60px;
        width: 100%;
        justify-content: space-around;
    }

    .navContainer ul{
        display: flex;
    }

    .navListItem:hover .navListItemTitle {
        opacity: 0;
        padding-right: 55px;
        right: -5px;
    }
}

